<% provide(:title, 'Subscription') %>

<% content_for :breadcrumb do %>
  <%=  breadcrumb [
          { "Account" => nil },
          { 'Subscription'  => nil  }
      ] %>
<% end %>

<span id="gears_of_work">
  <%= render 'layouts/page_loading' %>
</span>

<div class="row">
  <div class="medium-3 large-2 columns">
    <%= render 'menus/account', :active => 'subscription' %>
  </div>
  <div class="medium-9 large-10 columns">
    <%= render 'layouts/header', :main => 'Subscription', :sub => 'Detail' %>
    <hr class="faded">
    <div class="row">
      <div class="small-12 columns">
        <%= render 'subscription_detail' %>
      </div>
    </div>
  </div>
</div>

<% render "stripejs" %>
