<% provide(:title, "#{@parent_object.name}") %>

<% content_for :breadcrumb do %>
  <% if @type == "district" %>
    <%=  breadcrumb [
      { @parent_object.name => nil }
    ] %>
  <% else %>
    <%=  breadcrumb [
      { @district.name => district_path(@district.slug) },
      { @parent_object.name => nil }
    ] %>
  <% end %>
<% end %>

<div class="row">
  <div class="medium-3 large-2 columns">
    <%= render :partial =>'menus/manage',
      :locals => {
        :active => 'sections',
        :view_link => tcob_path(@parent_object),
        :details_link => edit_tcob_path(@parent_object),
        :options_link => "#{tcob_path(@parent_object, 'id')}/options",
        :features_link => "#{tcob_path(@parent_object, 'id')}/features",
        :sections_link => "#{tcob_path(@parent_object, 'id')}/sections",
        :menu_items_link => ("#{tcob_path(@parent_object, 'id')}/menu_items" if @type == "district"),
        :contributors_link => ("#{tcob_path(@parent_object, 'id')}/contributors" if @type == "district" and @district.is_owner?(current_user))
      } %>
  </div>
  <div class="medium-9 large-10 columns">
    <%= render :partial =>'layouts/header',
      :locals => {
        :main => @parent_object.name,
        :sub => 'Sections'
      }
    %>
    <hr class="faded">
    <div class="row">
      <div class="medium-5 columns" id="brass_form">
        <%= render 'form_list' %>
      </div>
      <div class="medium-7 columns">
        <%= render 'form_new' %>
      </div>
    </div>
  </div>
</div>
