<div id="form_div">
<%= simple_form_for [@parent_object, @defense], :remote => true, :html => {'data-no-transition-cache' => ''} do |f| %>
  <fieldset>
    <div class="row inline text-right">
      <div class="small-12 columns">
        <label class="inline-label-flat">Defense</label>
      </div>
    </div>
    <%= f.hidden_field :sort_order, :maxlength => 3 %>
    <div class="row">
      <div class="medium-12 columns">
        <%= f.input :name %>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <%= f.input :base %>
      </div>
      <div class="medium-6 columns">
        <%= f.input :misc_modifier %>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <%= f.input :ability_score, label: 'Ability score', collection: @parent_object.ability_scores.pluck(:name), :include_blank => true %>
      </div>
      <div class="medium-6 columns">
        <label>Calculated bonus<a id="unlock_calc"><span class="right"><i class="lock fa fa-lock" id="icon_unlock_calc"></i></a></span></label>
        <%= f.input :bonus, label: false, placeholder: f.object.calculated_bonus(@parent_object.ability_scores, @parent_object.modifiers, @parent_object.base_values).to_s, disabled: true %>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <%= f.input :description %>
      </div>
    </div>
  </fieldset>
  <%= render "layouts/form/save_and_cancel" %>
<% end %>
</div>

<script>
  $('#unlock_calc').on("click", function(e){
    unlock_field('#defense_bonus', '#icon_unlock_calc');
  });
</script>
