<% type_array = type_split(@type) %>
<% provide(:title, "#{type_array[1]} | #{@entity.name}") %>
<% content_for :breadcrumb do %>
  <%=  breadcrumb [
    { type_array[0] => nil },
    { type_array[1] => polymorphic_path(@type.tableize) },
    { @entity.name => nil }
  ] %>
<% end %>

<div class="row">
  <div class="medium-12 columns">
    <%= render :partial =>'layouts/header',
      :locals => {
        :icon => @entity.icon,
        :main => @entity.name,
        :sub => @entity.title,
        :view_link => polymorphic_path(@entity),
        :profile_link => ("#{polymorphic_path(@entity)}/profile" if @entity.can_sheet?(current_user, admin_signed_in?, @type)),
        :sheet_link => ("#{polymorphic_path(@entity)}/sheet" if @entity.can_sheet?(current_user, admin_signed_in?, @type)),
        :edit_link => edit_polymorphic_path(@entity),
        :can_auth => @entity.can_edit?(current_user, admin_signed_in?, @type)
      }
    %>
    <hr class="faded">
  </div>
</div>

<%= render 'layouts/popbox' %>
<%= render 'entitybuilder/entities/layouts/sheet' %>
<% if @type.include?"Stock" %>
  <%= render 'layouts/license/link', core_rules: @entity.core_rules %>
  <%= render 'layouts/license/modal' %>
<% end %>

<%= render 'entitybuilder/layouts/modal_list' %>
