<fieldset>
  <div class="row inline text-right">
    <div class="small-12 columns">
      <label class="inline-label-flat">Summary</label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <table class="simple_table">
        <thead>
          <tr>
            <th>Item</th>
            <th class="text-center">Paid</th>
            <th class="text-center">Free</th>
          </tr>
        </thead>
        <tbody>
          <tr><td><strong><i class="fa fa-user fa-fw"></i> Residents</strong></td><td class="text-center"><%= report_resident_count('active') %></td><td class="text-center"><%= report_resident_count('free') %></td></tr>
          <tr><td><strong><i class="fa fa-group fa-fw"></i> Friends <span class="color-c5">{</span> Accepted <span class="color-c5">}</span></strong></td><td class="text-center"><%= report_resident_affiliate_accepted_count('active') %></td><td class="text-center"><%= report_resident_affiliate_accepted_count('free') %></td></tr>
          <tr><td><strong><i class="fa fa-user-plus fa-fw"></i> Friends <span class="color-c5">{</span> Pending <span class="color-c5">}</span></strong></td><td class="text-center"><%= report_resident_affiliate_pending_count('active') %></td><td class="text-center"><%= report_resident_affiliate_pending_count('free') %></td></tr>
          <tr><td><strong><i class="fa fa-ban fa-fw"></i> Friends <span class="color-c5">{</span> Banned <span class="color-c5">}</span></strong></td><td class="text-center"><%= report_resident_affiliate_blocked_count('active') %></td><td class="text-center"><%= report_resident_affiliate_blocked_count('free') %></td></tr>
          <tr><td><strong><i class="fa fa-envelope fa-fw"></i> Messages</strong></td><td class="text-center"><%= report_resident_message_count('active') %></td><td class="text-center"><%= report_resident_message_count('free') %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
