<% if @district.menu_item_join.nil? %>
  <li>
    <%= link_to 'Home', district_path(@district.slug) %>
  </li>
<% end %>
<% @district.menu_items.each do |menu_item| %>
  <li>
    <% if menu_item.item_link.start_with?("http") || menu_item.item_link.start_with?("/") %>
    <%= link_to menu_item.item_label, menu_item.item_link %>
    <% else %>
    <%= link_to menu_item.item_label, "/wb/#{@district.slug}/#{menu_item.item_link}" %>
    <% end %>
  </li>
<% end %>

<% if @district.can_edit?(current_user, admin_signed_in?) %>
  <li><label>Management</label></li>
  <li><%= link_to 'District Details', edit_district_path(@district) %></li>
  <li><%= link_to 'District Menu', district_menu_items_path(@district) %></li>
  <li><%= link_to 'District Pages', district_pages_path(@district.slug) %></li>
<% end %>
