<% provide(:title, "FAQs | #{@faq.question}") %>

<% content_for :breadcrumb do %>
  <%=  breadcrumb [
          { "FAQs" => faqs_path },
          { @faq.question => nil }
      ] %>
<% end %>

<div class="row">
  <div class="medium-10 medium-centered columns">
    <%= render :partial =>'layouts/header',
        :locals => {
        :icon => 'icon-graduation-cap',
        :main => 'FAQ',
        :sub => @faq.topic,
        :edit_link => edit_faq_path(@faq),
        :delete_link => faq_path(@faq.id),
        :can_auth => admin_signed_in?
      }
    %>
    <hr class="faded">
    <h2 style="margin-bottom: .75rem;"><%= @faq.question %></h2>
    <%= @faq.answer %>
    <p><i class='fa fa-angle-double-left'></i> <%= link_to "Back".html_safe, :back %></p>
  </div>
</div>
