<fieldset>
  <div class="row inline text-right">
    <div class="small-12 columns">
      <label class="inline-label-flat">Campaigns</label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <table class="simple_table">
        <thead>
          <tr>
            <th>Type</th>
            <th class="text-center">Paid</th>
            <th class="text-center">Free</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Campaigns</strong></td>
            <td class="text-center"><%= @paid_counts[:campaigns] %></td>
            <td class="text-center"><%= @free_counts[:campaigns] %></td>
          </tr>
          <tr>
            <td><strong>Players</strong></td>
            <td class="text-center"><%= @paid_counts[:players] %></td>
            <td class="text-center"><%= @free_counts[:players] %></td>
          </tr>
          <tr>
            <td><strong>Total Pages</strong></td>
            <td class="text-center"><%= @paid_counts[:pages] %></td>
            <td class="text-center"><%= @free_counts[:pages] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
