<% provide(:title, "Rules | New Rule") %>
<% type_array = type_split(@type) %>
<% content_for :breadcrumb do %>
  <%=  breadcrumb [
    { type_array[0] => nil },
    { type_array[1] => polymorphic_path(@type.tableize) },
    { "New Rule" => nil }
  ] %>
<% end %>

<div class="row">
  <div class="medium-2 columns">
    <%= render :partial => 'menus/manage',
      :locals => {
        :active => 'new',
        :index_link => polymorphic_path(@type.tableize)
      } %>
  </div>
  <div class="medium-10 columns">
    <%= render :partial =>'layouts/header',
      :locals => {
        :main => "Rule",
        :sub => 'New'
      }
    %>
    <hr class="faded">
    <div class="row">
      <div class="small-12 columns">
        <div id="rule_form">
          <%= simple_form_for @rule do |f| %>
            <h3 class="color-c5"><%= "#{@rule.core_rules}" %> <%= @rule.rule_type.blank? ? "Rule" : "#{@rule.rule_type}" %></h3>
            <fieldset>

              <%= render "rulebuilder/rules/form/new", :f => f %>

            </fieldset>

            <%= render "layouts/form/create" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
