<% provide(:title, "Rules | #{@rule.name}") %>
<% type_array = type_split(@type) %>
<% content_for :breadcrumb do %>
  <%=  breadcrumb [
    { type_array[0] => nil },
    { type_array[1] => route_collection_path(@type.tableize) },
    { @rule.name => nil }
  ] %>
<% end %>

<div class="row">
  <div class="medium-2 columns">
    <%= render :partial =>'menus/manage',
      :locals => {
        :active => 'options',
        :index_link => route_collection_path(@type.tableize),
        :view_link => route_path(@rule),
        :details_link => edit_route_path(@rule),
        :options_link => "#{route_path(@rule)}/options"
      } %>
  </div>
  <div class="medium-10 columns">
    <%= render :partial =>'layouts/header',
      :locals => {
        :main => @rule.name,
        :sub => 'Options'
      }
    %>
    <hr class="faded">
    <div class="row">
      <div class="small-12 columns">
        <div id="rule_form">
          <%= form_with model: @rule, method: :delete, builder: ApplicationFormBuilder do |f| %>
            <%= render :partial => 'layouts/form/options', :locals => { :f => f, :record => @rule } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
