<div id="form_div">
<%= simple_form_for [@parent_object, @trackable], :remote => true, :html => {'data-no-transition-cache' => ''} do |f| %>
  <fieldset>
    <div class="row inline text-right">
      <div class="small-12 columns">
        <label class="inline-label-flat">Trackable</label>
      </div>
    </div>
    <%= f.hidden_field :sort_order, :maxlength => 3 %>
    <div class="row">
      <div class="medium-12 columns">
        <%= f.input :name %>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <%= f.input :current %>
      </div>
      <div class="medium-6 columns">
        <%= f.input :temporary %>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <%= f.input :maximum %>
      </div>
      <div class="medium-6 columns">
        <%= f.input :minimum %>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <%= f.input :description %>
      </div>
    </div>
  </fieldset>
  <%= render "layouts/form/save_and_cancel" %>
<% end %>
</div>
