<li><%= link_to 'Overview', campaignmanager.polymorphic_path(@campaign) %></li>
<% if @campaign.district.present? && visible_record?(@campaign.district) %>
  <li><%= link_to 'World', "#{worldbuilder.district_path(@campaign.district)}/campaign/#{@campaign.id}" %></li>
<% end %>
<% if visible_records(@campaign.characters).any? %>
  <li><%= link_to 'Characters', campaignmanager.polymorphic_path([@campaign, :characters]) %></li>
<% end %>
<% if visible_notables(@campaign.notables).any? %>
  <li><%= link_to 'Notables', "#{campaignmanager.polymorphic_path(@campaign)}/notables/list" %></li>
<% end %>
<% if @campaign.active_adventure.present? && visible_record?(@campaign.active_adventure) %>
  <li><%= link_to 'Active Adventure', "#{storybuilder.polymorphic_path(@campaign.active_adventure)}/campaign/#{@campaign.id}" %></li>
<% end %>
<li><%= link_to 'House Rules', campaignmanager.polymorphic_path([@campaign, :house_rules]) %></li>
<li><%= link_to 'Adventure Logs', campaignmanager.polymorphic_path([@campaign, :adventure_logs]) %></li>

<% if @campaign.activeplay.present? && @campaign.can_show?(current_user, admin_signed_in?, "Activeplay::Campaign") %>
  <li><%= link_to 'ActivePlay', "/ap/virtual_tables/#{@campaign.activeplay.id}" %></li>
<% end %>

<% if @campaign.can_edit?(current_user, admin_signed_in?) %>
  <li><%= link_to 'GM Notes', campaignmanager.polymorphic_path([@campaign, :game_master_notes]) %></li>
<% end %>
