<fieldset>
  <div class="row inline text-right">
    <div class="small-12 columns">
      <label class="inline-label-flat">User</label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="no-bullet">
        <li><strong>Email:</strong> <%= mail_to @user.email %></li>
        <% if Rails.env.production? %>
          <li><strong>Stripe:</strong> <a href="https://dashboard.stripe.com/customers/<%= @user.stripe_customer_token %>" target="_stripe"><%= @user.stripe_customer_token %></a>
        <% else %>
          <li><strong>Stripe:</strong> <a href="https://dashboard.stripe.com/test/customers/<%= @user.stripe_customer_token %>" target="_stripe"><%= @user.stripe_customer_token %></a>
        <% end %>
      </ul>

      <table class="simple_table">
        <tbody>
          <tr><td><strong>Login Count</strong></td><td><%= @user.sign_in_count %></td></tr>
          <tr><td><strong>Current Login At</strong></td><td><span data-timestamp="<%= @user.current_sign_in_at.to_i*1000 %>"></span></td></tr>
          <tr><td><strong>Last Login At</strong></td><td><span data-timestamp="<%= @user.last_sign_in_at.to_i*1000 %>"></span></td></tr>
          <tr><td><strong>Current Login IP</strong></td><td><%= @user.current_sign_in_ip %></td></tr>
          <tr><td><strong>Last Login IP</strong></td><td><%= @user.last_sign_in_ip %></td></tr>
          <tr><td><strong>Confirmed At</strong></td><td><span data-timestamp="<%= @user.confirmed_at.to_i*1000 %>"></span></td></tr>
          <tr><td><strong>Failed Attempts</strong></td><td><%= @user.failed_attempts %></td></tr>
          <tr><td><strong>Locked At</strong></td><td><span data-timestamp="<%= @user.locked_at.to_i*1000 %>"></span></td></tr>
          <tr><td><strong>Created At</strong></td><td><span data-timestamp="<%= @user.created_at.to_i*1000 %>"></span></td></tr>
          <tr><td><strong>Updated At</strong></td><td><span data-timestamp="<%= @user.updated_at.to_i*1000 %>"></span></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
