<% provide(:title, t(".title")) %>

<% content_for :breadcrumb do %>
<%=  breadcrumb [
  { t(".title") => nil }
  ] %>
  <% end %>

<div class="row">
  <div class="medium-12 medium-centered columns">

    <%= render :partial =>'layouts/header',
      :locals => {
        :icon => 'fa fa-users',
        :main => t(".title"),
      }
    %>
    <hr class="faded">

    <i class='fa fa-plus'></i> <%= link_to t(".new_user"), new_user_path %><br>

    <div class="row">
      <div class="small-6 small-centered columns">
        <%= render 'layouts/form/search', url: users_path %>
      </div>
    </div>

    <div class="row">
      <div class="medium-12 columns" id="index_list">
        <%= render 'list' %>
      </div>
    </div>
  </div>
</div>
