<% provide(:title, t(".title")) %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [
    { t("users.index.title") => users_path },
    { t(".title") => nil }
  ] %>
<% end %>

<div class="row">
  <div class="medium-12 medium-centered columns">

    <%= render :partial => 'layouts/header',
      :locals => {
        :icon => 'fa fa-user-plus',
        :main => t(".title"),
      }
    %>
    <hr class="faded">

    <i class='fa fa-angle-double-left'></i> <%= link_to t(".return_to_index"), users_path %><br>

    <div class="row">
      <div class="medium-6 columns">
        <%= simple_form_for @user, url: users_path do |f| %>
          <fieldset>
            <div class="row">
              <div class="small-12 columns">
                <%= f.input :email %>
                <%= f.input :password %>
                <%= f.input :password_confirmation %>
                <%= f.input :status, collection: User::STATUS_OPTIONS %>
                <%= f.input :locale, collection: %w[en nl it].map { |code| [t("locales.#{code}"), code] } %>
              </div>
            </div>
          </fieldset>
          <%= render 'layouts/form/save' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
