<fieldset>
  <div class="row inline text-right">
    <div class="small-12 columns">
      <label class="inline-label-flat">Spell</label>
    </div>
  </div>

  <div class="row">
    <div class="medium-8 columns">
      <%= f.input :name %>
      <%= f.association :parent, collection: f.object.class.where(core_rules: f.object.core_rules).select(:name, :id).order_name, label_method: :name, value_method: :id, :include_blank => true if admin_signed_in? %>
      <%= f.input :core_rules, collection: CoreRules.options(admin_signed_in?), :include_blank => true %>
      <div class="row">
        <div class="medium-9 columns">
          <%= f.input :publisher %>
        </div>
        <div class="medium-3 columns text-center">
          <label>3rd Party</label>
          <%= f.input :is_3pp, label: '', as: :boolean %>
        </div>
      </div>
      <%= f.input :source %>
    </div>
    <div class="medium-4 columns text-center">
      <%= f.fields_for :gallery_image_join do |p| %>
        <%= p.input :image_id, as: :hidden %>
        <%= render :partial => 'gallery/images/image_pkr', :locals => { :image_url => (@spell.gallery_image.file.url(:thumb) unless @spell.gallery_image.nil?) } %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.input :level_list, label: 'Level(s) (separated by commas)', placeholder: 'Druid 1, Wizard 2' %>
      <%= f.input :casting_time %>
      <%= f.input :range %>
      <%= f.input :components %>
      <%= f.input :duration %>
    </div>
    <div class="medium-6 columns">
      <%= f.input :school %>
      <%= f.input :target %>
      <%= f.input :area %>
      <%= f.input :effect %>
      <div class="row">
        <div class="medium-6 columns">
          <%= f.input :saving_throw %>
        </div>
        <div class="medium-6 columns">
          <%= f.input :spell_resistance %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <%= f.input :tag_list, label: 'Tag list (separated by commas)' %>
      <%= f.input :short_description %>
      <%= f.input :full_description, class: "editorblank" %>
    </div>
  </div>

</fieldset>

<%= render "layouts/form/save" %>

<%= render :partial => 'gallery/images/image_modal', :locals => { :image_for => "#{@type.underscore}_gallery_image_join_attributes_image_id" }  %>
