<% provide(:title, "#{@parent_object.name} | #{@page.name}") %>
<% type_array = type_split(@parent_type) %>
<% content_for :breadcrumb do %>
  <%=  breadcrumb [
    { type_array[0] => nil },
    { type_array[1] => polymorphic_path(@parent_type.tableize) },
    { @parent_object.name => polymorphic_path(@parent_object) },
    { @page.name => nil }
  ] %>
<% end %>
<div class="row">

  <% if @page.player_handout == true  && !(@parent_object.can_edit?(current_user, admin_signed_in?, @type)) %>
  <div class="medium-10 columns medium-centered">
  <% else %>
  <div class="medium-3 large-2 columns">
    <%= render :partial =>'storybuilder/menus/adventure', :locals => { :page => @page.menu_item_join } %>
  </div>
  <div class="medium-9 large-10 columns">
  <% end %>


    <%= render :partial =>'layouts/header',
      :locals => {
        :main => @page.name,
        :sub => @page.page_label,
        :child_link => storybuilder.polymorphic_path([@parent_object, @page, :new, :child]),
        :edit_link => storybuilder.edit_polymorphic_path([@parent_object, @page]),
        :can_auth => @parent_object.can_edit?(current_user, admin_signed_in?, @parent_type)
      }
    %>
    <hr class="faded">

    <div class="row">
      <div class="small-12 columns">
        <% unless @page.gallery_image.nil? %>
          <%= link_to (image_tag @page.gallery_image.file.url(:medium), :alt => @page.name, :align=>"right", class: "images_space"), "#{gallery.polymorphic_path(@page.gallery_image)}/swoosh", "data-reveal-id" => "imageModal", :remote => true  %>
        <% end %>

        <%= render :partial =>'features' if @page.features.size > 0 || @page.parent_id.present? || @page.notables.size > 0 %>

        <%= render :partial =>'sections' %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/modal/show' %>
<%= render 'layouts/modal/image' %>
