<div id="form_div_mod">
<%= simple_form_for [@parent_object, @modifier_parent_object, @modifier], :remote => true, :html => {'data-no-transition-cache' => ''} do |f| %>
  <fieldset>
    <div class="row inline text-right">
      <div class="small-12 columns">
        <label class="inline-label-flat">Modifier</label>
      </div>
    </div>
    <%= f.hidden_field :sort_order, :maxlength => 3 %>
    <div class="row">
      <div class="medium-12 columns">
        <%= render "entitybuilder/modifiers/modifier_details", modifier: @modifier %>
        <%= f.input :value %>
      </div>
    </div>
  </fieldset>
  <%= render "layouts/form/save_and_cancel_modifiers" %>
<% end %>
</div>

<script>
    var base_url = '<%= "#{polymorphic_path(@parent_object)}/" %>';
</script>
<%= javascript_include_tag "entitybuilder/modifiers" %>
