<% provide(:title, "#{@parent_object.name} | #{@page.name}") %>

<% content_for :breadcrumb do %>
  <%=  breadcrumb [
    { "Campaigns" => polymorphic_path(@parent_type.tableize) },
    { @parent_object.name => polymorphic_path(@parent_object) },
    { "#{@type.titleize.pluralize}" => "#{polymorphic_path(@parent_object)}/#{@type.tableize}" },
    { @page.name => nil }
  ] %>
<% end %>
<div class="row">
  <div class="medium-3 large-2 columns">
    <%= render :partial =>'menus/manage',
      :locals => {
        :active => 'options',
        :view_link => city_path(@parent_object, @page),
        :details_link => edit_city_path(@parent_object, @page),
        :options_link => "#{city_path(@parent_object, @page)}/options",
        :features_link => "#{city_path(@parent_object, @page)}/features",
        :sections_link => "#{city_path(@parent_object, @page)}/sections",
        :notables_link => "#{city_path(@parent_object, @page)}/notables"
      } %>
  </div>
  <div class="medium-9 large-10 columns">
    <%= render :partial =>'layouts/header',
      :locals => {
        :main => @page.name,
        :sub => 'Options'
      }
    %>
    <hr class="faded">
    <div class="row">
      <div class="small-12 columns">
        <div id="brass_form">
          <%= simple_form_for @page, url: city_path(@parent_object, @page), method: :delete do |f| %>
            <%= render :partial => 'layouts/form/options', :locals => { :f => f, :record => @page } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
