<div class="row">
  <div class="small-12 columns text-center">
    <div style="min-height: 175px;">
      <%= render 'layouts/dice_roller_basic', core_rules: 'Generic', dice: "1d4", bonus: "0", display: "d4" %>
      <%= render 'layouts/dice_roller_basic', core_rules: 'Generic', dice: "1d6", bonus: "0", display: "d6" %>
      <%= render 'layouts/dice_roller_basic', core_rules: 'Generic', dice: "1d8", bonus: "0", display: "d8" %>
      <%= render 'layouts/dice_roller_basic', core_rules: 'Generic', dice: "1d10", bonus: "0", display: "d10" %>
      <%= render 'layouts/dice_roller_basic', core_rules: 'Generic', dice: "1d12", bonus: "0", display: "d12" %>
      <%= render 'layouts/dice_roller_basic', core_rules: 'Generic', dice: "1d20", bonus: "0", display: "d20" %>
      <%= render 'layouts/dice_roller_basic', core_rules: 'Generic', dice: "1d100", bonus: "0", display: "d100" %>
      <%= render 'layouts/dice_roller_basic', core_rules: 'Generic', dice: "Fate", bonus: "0", display: "Fate" %>
    </div>
  </div>
</div>
