<div id="form_div">
<%= form_with model: [@parent_object, @feature], url: nested_resource_form_path(@parent_object, @feature, :features), local: false, html: {'data-no-transition-cache' => ''}, builder: ApplicationFormBuilder do |f| %>
  <fieldset>
    <div class="row inline text-right">
      <div class="small-12 columns">
        <label class="inline-label-flat"><%= f.object.feature_type.humanize %></label>
      </div>
    </div>
    <%= f.hidden_field :sort_order %>
    <%= f.hidden_field :feature_type %>
    <div class="row">
      <div class="small-12 columns">
        <%= render :partial => "worldbuilder/features/form/#{f.object.feature_type}", :locals => { f: f } %>
      </div>
    </div>
  </fieldset>
  <%= render "layouts/form/save_and_cancel" %>
<% end %>
</div>
