<div id="form_div">
<%= simple_form_for [@parent_object, @feature], :url => "#{tcob_path(@parent_object, 'id')}/features/#{@feature.id}", :remote => true, :html => {'data-no-transition-cache' => ''} do |f| %>
  <fieldset>
    <div class="row inline text-right">
      <div class="small-12 columns">
        <label class="inline-label-flat"><%= f.object.feature_type.humanize %></label>
      </div>
    </div>
    <%= f.input :sort_order, as: :hidden %>
    <%= f.input :feature_type, as: :hidden %>
    <div class="row">
      <div class="small-12 columns">
        <%= render :partial => "worldbuilder/features/form/#{f.object.feature_type}", :locals => { f: f } %>
      </div>
    </div>
  </fieldset>
  <%= render "layouts/form/save_and_cancel" %>
<% end %>
</div>
