<ul class="no-bullet">
  <li>
    <strong>Game Master: </strong>
    <%= link_to campaign.resident.name, main_app.resident_path(campaign.resident.slug) %>
  </li>
<% if campaign.district.present? && visible_record?(campaign.district) %>
  <li>
    <strong>World: </strong>
    <%= link_to campaign.district.name, worldbuilder.district_path(campaign.district.slug) %>
  </li>
<% end %>
<% visible_adventures = visible_records(campaign.adventures) %>
<% if visible_adventures.any? %>
  <% active_adventure_id = campaign.active_adventure&.id %>
  <li>
    <strong><%= t("campaignmanager.campaigns.features.adventures") %>: </strong>
    <%= safe_join(visible_adventures.map { |adventure|
          link = link_to(adventure.name, tcob_path(adventure))
          adventure.id == active_adventure_id ? content_tag(:strong, link) : link
        }, ", ") %>
  </li>
<% end %>
<% campaign.features.each do |feature| %>
  <li>
  <%= render :partial =>'layouts/features/looper',
      :locals => {
        :feature => feature,
        :record => campaign
    } %>
  </li>
<% end %>
</ul>
