<fieldset>
  <div class="row">
    <div class="medium-8 columns">
      <%= f.input :name %>
      <% unless @campaign.new_record?%>
        <%= f.input :page_label, label: 'Label' %>
      <% end %>
      <%= f.input :privacy, collection: Campaignmanager::Campaign::PRIVACY_OPTIONS %>
      <% unless @campaign.new_record? %>
        <%= f.input :core_rules, collection: CoreRules.all(admin_signed_in?), label_method: :name, value_method: :slug, :include_blank => true %>
        <%= f.association :district, collection: current_user.resident.district_list, label_method: :name, value_method: :id, :include_blank => true %>
        <%= f.input :adventure_ids,
            as: :check_boxes,
            collection: current_user.resident.adventure_list(@campaign.core_rules).values.flatten,
            label_method: :name,
            value_method: :id,
            label: t("campaignmanager.campaigns.form.adventures_label"),
            hint: t("campaignmanager.campaigns.form.adventures_hint") %>
        <% if @campaign.adventures.any? %>
          <%= f.input :active_adventure_id,
              as: :select,
              collection: @campaign.adventures,
              label_method: :name,
              value_method: :id,
              include_blank: t("campaignmanager.campaigns.form.no_active_adventure"),
              label: t("campaignmanager.campaigns.form.active_adventure_label"),
              hint: t("campaignmanager.campaigns.form.active_adventure_hint") %>
        <% end %>
      <% end %>
    </div>
    <div class="medium-4 columns text-center">
      <%= f.fields_for :gallery_image_join do |p| %>
        <%= p.input :image_id, as: :hidden %>
        <%= render :partial => 'gallery/images/image_pkr', :locals => { :image_url => (@campaign.gallery_image.file.url(:thumb) unless @campaign.gallery_image.nil?) } %>
      <% end %>
    </div>
  </div>
  <% unless @campaign.new_record?%>
  <div class="row">
    <div class="small-12 columns">
      <%= f.input :short_description %>
      <%= f.input :full_description, input_html: { class: "editorblank" } %>
    </div>
  </div>
  <% end %>
</fieldset>

<%= render "layouts/form/save" %>

<%= render :partial => 'gallery/images/image_modal', :locals => { :image_for => "#{@type.underscore}_gallery_image_join_attributes_image_id" }  %>
