<fieldset>
  <div class="row">
    <div class="medium-8 columns">
      <%= f.input :name %>
      <% unless @campaign.new_record?%>
        <%= f.input :page_label, label: 'Label' %>
      <% end %>
      <% if current_user.is_free? %>
        <%= f.input :privacy, collection: Campaignmanager::Campaign::PRIVACY_OPTIONS_FREE, :include_blank => false %>
      <% else %>
        <%= f.input :privacy, collection: Campaignmanager::Campaign::PRIVACY_OPTIONS %>
      <% end %>
      <% unless @campaign.new_record? %>
        <%= f.input :core_rules, collection: CoreRules.options(admin_signed_in?), :include_blank => true %>
        <%= f.association :district, collection: current_user.resident.district_list, label_method: :name, value_method: :id, :include_blank => true %>
        <%= f.association :adventure, collection: current_user.resident.adventure_list(@campaign.core_rules), label_method: :name, value_method: :id, as: :grouped_select, group_method: :last, :include_blank => true %>
      <% end %>
    </div>
    <div class="medium-4 columns text-center">
      <%= f.fields_for :gallery_image_join do |p| %>
        <%= p.input :image_id, as: :hidden %>
        <%= render :partial => 'gallery/images/image_pkr', :locals => { :image_url => (@campaign.gallery_image.file.url(:thumb) unless @campaign.gallery_image.nil?) } %>
      <% end %>
    </div>
  </div>
  <% unless @campaign.new_record?%>
  <div class="row">
    <div class="small-12 columns">
      <%= f.input :short_description %>
      <%= f.input :full_description, class: "editorblank" %>
    </div>
  </div>
  <% end %>
</fieldset>

<%= render "layouts/form/save" %>

<%= render :partial => 'gallery/images/image_modal', :locals => { :image_for => "#{@type.underscore}_gallery_image_join_attributes_image_id" }  %>
