<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1 class="logo">
          <a href="/" style="color: #c69633;">City of Brass</a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <% if admin_signed_in? %>
        <ul class="left">
          <%= render "layouts/topbar/admin" %>
          <%= render 'layouts/topbar/proprietary' %>
        </ul>
      <% end %>
      <% if user_signed_in? %>
        <ul class="right">
          <%= yield :small_menu %>
          <% if current_user.active? %>
            <%= render 'layouts/topbar/toolkit' if current_user.resident && !current_user.resident.new_record? %>
            <%= render 'layouts/topbar/stock' %>
            <%= render 'layouts/topbar/account' %>
          <% else %>
            <%= render 'layouts/topbar/inactive' %>
          <% end %>
          <%= render 'layouts/topbar/citylinks' %>
        </ul>
      <% else %>
        <ul class="right">
          <%= yield :small_menu %>
          <%= render 'layouts/topbar/citylinks' %>
          <%= render 'layouts/navigation/sign_up' %>
          <%= render 'layouts/navigation/login' %>
        </ul>
      <% end %>
    </section>
  </nav>

  <%= yield :breadcrumb %>

</div>
