<div id="form_placeholder">
  <fieldset>
    <%= render 'entitybuilder/layouts/tutorial' %>
    <strong>What are Known Spells?</strong>
    <p>
      Fireball anyone?
    </p>
    <% if CoreRules.stock?(@parent_object.core_rules) %>
      <strong><%= link_to "<i class='fa fa-plus-circle'></i> Stock Spell".html_safe, "#{polymorphic_path(@parent_object)}/known_spells/new?rule_type=stock", :remote => true %></strong>
      <p>Add a Stock Spell.</p>
    <% end %>
    <% if admin_signed_in? %>
      <strong><%= link_to "<i class='fa fa-plus-circle'></i> Proprietary Spell".html_safe, "#{polymorphic_path(@parent_object)}/known_spells/new?rule_type=proprietary", :remote => true %></strong>
      <p>Add a Proprietary Spell.</p>
    <% end %>
    <% if @parent_type.include?"resident" %>
      <strong><%= link_to "<i class='fa fa-plus-circle'></i> Resident Spell".html_safe, "#{polymorphic_path(@parent_object)}/known_spells/new", :remote => true %></strong>
      <p>Add a spell from your resident list.</p>
    <% end %>
  </fieldset>
</div>

<% content_for :footer do %>
  <%= render 'layouts/modal/tutorial' %>
<% end %>
