<%= form_for @parent_object, :url => send("#{@parent_type}_known_spells_path"), :remote => true, :html => {"data-sortable" => ''} do |f| %>
  <fieldset>
    <div class="row inline">
      <div class="small-6 columns">
        <label class="inline-label-flat">Name</label>
      </div>
      <div class="small-2 columns text-center">
        <label class="inline-label-flat">Level</label>
      </div>
      <div class="small-4 columns text-right">
        <% if request.variant == [:phone] %>
          <span class="right"><a id="sortable_unlock"><span class="right"><i class="lock fa fa-lock" id="sortable_unlock_icon"></i></a></span>
        <% else %>
          &nbsp;
        <% end %>
      </div>
    </div>
    <ul class="sortable row">
      <%= f.fields_for :known_spells do |known_spell| %>
      <li id="known_spell_<%= known_spell.object.id %>" "sortable-known_spell">
        <%= known_spell.hidden_field :sort_order %>
        <div class="row">
          <div class="small-6 columns clipper">
            <%= "<i class='icon-feather'></i>".html_safe if known_spell.object.prepared %> <strong><%= link_to known_spell.object.spell.name[0,20], "#{polymorphic_path(@parent_object)}/known_spells/#{known_spell.object.id}" %></strong>
          </div>
          <div class="small-2 columns text-center">
            <strong><%= known_spell.object.level %></strong>
          </div>
          <div class="small-4 columns text-right">
            <h3>
              <span class="right cogs125">
              <%= link_to "<i class='fa fa-cogs'></i>".html_safe, "#{polymorphic_path(@parent_object)}/known_spells/#{known_spell.object.id}/edit", class: "iconlink", :remote => true %>
              <%= link_to "<i class='fa fa-times-circle'></i>".html_safe, "#{polymorphic_path(@parent_object)}/known_spells/#{known_spell.object.id}", class: "iconlink delete", method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %>
              </span>
            </h3>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </fieldset>
<% end %>
