<div id="modal-list">
  <%= render "layouts/modal", modal_name: "ability_score", modal_size: "small" %>
  <%= render "layouts/modal", modal_name: "currency", modal_size: "tiny" %>
  <%= render "layouts/modal", modal_name: "image", modal_size: "medium" %>
  <%= render "layouts/modal", modal_name: "inventory_item", modal_size: "medium" %>
  <%= render "layouts/modal", modal_name: "known_spell", modal_size: "medium" %>
  <%= render "layouts/modal", modal_name: "linked_rule", modal_size: "medium" %>
  <%= render "layouts/modal", modal_name: "skill", modal_size: "small" %>
  <%= render "layouts/modal", modal_name: "trackable", modal_size: "tiny" %>
  <%= render "layouts/modal", modal_name: "notes", modal_size: "medium" %>
</div>
