<% provide(:title, t("navigation.links.settings")) %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [{ t("navigation.links.settings") => nil }] %>
<% end %>

<div class="row">
  <div class="medium-12 medium-centered columns">

    <%= render :partial => 'layouts/header',
        :locals => {
          :icon => 'fa fa-cog',
          :main => t("navigation.links.settings"),
        }
    %>
    <hr class="faded">

    <div class="row">
      <div class="medium-6 columns">
        <%= simple_form_for @user, url: user_settings_path, method: :patch do |f| %>
          <fieldset>
            <div class="row">
              <div class="small-12 columns">
                <%= f.input :email %>
                <%= f.input :locale, collection: %w[en nl it].map { |code| [t("locales.#{code}"), code] } %>
                <%= f.input :password %>
                <%= f.input :password_confirmation %>
                <%= f.input :current_password, hint: t(".current_password_hint") %>
              </div>
            </div>
          </fieldset>
          <%= render 'layouts/form/save' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
