<% provide(:title, "#{@district.name} | Pages") %>

<% content_for :breadcrumb do %>
  <%=  breadcrumb [
          { @district.name => district_path(@district.slug) }
      ] %>
<% end %>

<div class="row">
  <div class="medium-3 large-2 columns">
    <%= render :partial => 'worldbuilder/menus/district', :locals => { :page => nil } %>
  </div>
  <div class="medium-9 large-10 columns">
    <%= render :partial =>'layouts/header',
      :locals => {
        :main => @parent_object.name,
        :sub => "Pages #{@sub}",
        :add_link  => worldbuilder.new_district_page_path(@district.slug),
        :can_auth => @district.can_edit?(current_user, admin_signed_in?)
      }
    %>
    <hr class="faded">
    <div class="row">
      <div class="small-10 small-centered columns">
        <%= render 'layouts/form/search', url: worldbuilder.district_pages_path(@district.slug) %>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns" id="index_list">
        <%= render 'list' %>
      </div>
    </div>
  </div>
</div>
