<% provide(:title, "#{@district.name} | New Page") %>

<% content_for :breadcrumb do %>
  <%=  breadcrumb [
          { @district.name => district_path(@district.slug) },
          { "New Page" => nil }
      ] %>
<% end %>

<div class="row">
  <div class="medium-3 large-2 columns">
    <%= render :partial => 'menus/manage',
      :locals => {
        :active => 'edit',
        :index_link => :back
      } %>
  </div>
  <div class="medium-9 large-10 columns">
    <div class="row" style="height: 2rem;">
      <div class="small-12 columns">
        <h1>Page</h1>
      </div>
    </div>
    <hr class="faded">
    <div id="brass_form">
      <%= simple_form_for @page, url: worldbuilder.district_pages_path(@district.slug) do |f| %>
        <%= render :partial => 'form', :locals => { :f => f } %>
      <% end %>
    </div>
  </div>
</div>

<%= render :partial =>'layouts/ckeditor', :locals => { :cke_version => 'standard' } %>
