<main>
  <h1><%= t("importer.admin.previews.new.title") %></h1>

  <%= form_for @preview, url: main_app.admin_importer_previews_path, html: { multipart: true } do |f| %>
    <%= f.hidden_field :source %>
    <%= file_field_tag "files[]", multiple: true, accept: ".xml,text/xml,application/xml", required: true %>
    <%= f.submit t("importer.admin.previews.new.submit") %>
  <% end %>
</main>
