<%
  child_link = ""
  if local_assigns.has_key? :active_link
    child_link = active_link
  end
%>

<dl class="left-menu show-for-medium-up">
  <dd><h3><%= link_to 'Summary', view_link, :style => 'display:block;' %></h3></dd>
  <dd><h3><%= link_to 'Profile', "#{view_link}/profile", :style => 'display:block;' %></h3></dd>
  <dd><h3><%= link_to 'Sheet', "#{view_link}/sheet", :style => 'display:block;' %></h3></dd>

  <dd class="<%= 'active' if current_page?("#{base_link}/edit") %>">
    <h3><%= link_to 'Details', about_link, :style => 'display:block;' %></h3>
  </dd>

  <% CoreRules::Entity.menu(@parent_object.core_rules).each do |item| %>
    <dd class="<%= 'active' if current_page?("#{base_link}/#{item['link']}") %>">
      <h3><%= link_to item['label'], "#{base_link}/#{item['link']}", :style => 'display:block;' %></h3>
    </dd>
  <% end %>

</dl>

<% content_for :left_menu_icon do %>
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon"><span></span></a>
  </section>
<% end %>

<% content_for :left_menu do %>
  <li><label><%= @parent_object.name %></label></li>
  <li><%= link_to 'Summary', view_link %></li>
  <li><%= link_to 'Profile', "#{view_link}/profile" %></li>
  <li><%= link_to 'Sheet', "#{view_link}/sheet" %></li>
  <li><%= link_to 'Details', about_link %></li>

  <% CoreRules::Entity.menu(@parent_object.core_rules).each do |item| %>

    <li><%= link_to item['label'], "#{base_link}/#{item['link']}" %></li>
  <% end %>
<% end %>

<% content_for :small_menu do %>
  <li class="has-dropdown show-for-small"><a href="#"><i class='fa fa-cogs fa-fw'></i> <%= @parent_object.name %></a>
    <ul class="dropdown">
      <li><%= link_to 'Summary', view_link %></li>
      <li><%= link_to 'Profile', "#{view_link}/profile" %></li>
      <li><%= link_to 'Sheet', "#{view_link}/sheet" %></li>
      <li><%= link_to 'Details', about_link %></li>

      <% CoreRules::Entity.menu(@parent_object.core_rules).each do |item| %>
        <li><%= link_to item['label'], "#{base_link}/#{item['link']}" %></li>
      <% end %>
    </ul>
  </li>
<% end %>
