<%= form_for @parent_object, :url => send("#{@parent_type}_base_values_path"), :remote => true, :html => {"data-sortable" => ''} do |f| %>
  <fieldset>
    <div class="row inline">
      <div class="small-6 columns">
        <label class="inline-label-flat">Name</label>
      </div>
      <div class="small-2 columns text-center">
        <label class="inline-label-flat">Value</label>
      </div>
      <div class="small-4 columns text-right">
        <% if request.variant == [:phone] %>
          <span class="right"><a id="sortable_unlock"><span class="right"><i class="lock fa fa-lock" id="sortable_unlock_icon"></i></a></span>
        <% else %>
          &nbsp;
        <% end %>
      </div>
    </div>
    <ul class="sortable row">
      <%= f.fields_for :base_values do |base_value| %>
      <li id="base_value_<%= base_value.object.id %>" "sortable-item">
        <%= base_value.hidden_field :sort_order %>
        <div class="row">
          <div class="small-6 columns clipper">
            <strong><%= base_value.object.name[0,20] %></strong>
          </div>
          <div class="small-2 columns clipper text-center">
            <strong>
              <% if base_value.object.value.present? %>
                <%= base_value.object.value %>
              <% else %>
                <%= base_value.object.dice[0,20] unless base_value.object.dice.nil? %>
              <% end %>
            </strong>
          </div>
          <div class="small-4 columns text-right">
            <h3>
              <span class="right cogs125">
              <%= link_to "<i class='fa fa-cogs'></i>".html_safe, "#{polymorphic_path(@parent_object)}/base_values/#{base_value.object.id}/edit", class: "iconlink", :remote => true %>
              </span>
            </h3>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </fieldset>
<% end %>
