<li><label class="text-right"><%= t('.game_master') %></label></li>
<li><a href="/eb/admin/stock/creatures"><i class='fa fa-paw fa-fw'></i> <%= t('.creatures') %></a></li>
<li><a href="/eb/admin/stock/npcs"><i class='fa fa-male fa-fw'></i> <%= t('.npcs') %></a></li>
<li><label class="text-right"><%= t('.rule_builder') %></label></li>
<li><a href="/rb/admin/stock/rules"><i class='fa fa-book fa-fw'></i> <%= t('.rules') %></a></li>
<li><a href="/rb/admin/stock/spells"><i class='fa fa-magic fa-fw'></i> <%= t('.spells') %></a></li>
<li><a href="/rb/admin/stock/items"><i class='fa icon-price-tag fa-fw'></i> <%= t('.items') %></a></li>
<li><a href="/gallery/admin/stock/images"><i class='fa icon-images fa-fw'></i> <%= t('.images') %></a></li>
