<li><label class="text-right"><%= t("navigation.sections.game_master") %></label></li>
<li><a href="/sb/stock/adventures"><i class='fa icon-book fa-fw'></i> <%= t("navigation.links.adventures") %></a></li>
<li><a href="/eb/stock/creatures"><i class='fa fa-paw fa-fw'></i> <%= t("navigation.links.creatures") %></a></li>
<li><a href="/eb/stock/npcs"><i class='fa fa-male fa-fw'></i> <%= t("navigation.links.npcs") %></a></li>
<li><label class="text-right"><%= t("navigation.sections.rule_builder") %></label></li>
<li><a href="/rb/stock/rules"><i class='fa fa-book fa-fw'></i> <%= t("navigation.links.rules") %></a></li>
<li><a href="/rb/stock/spells"><i class='fa fa-magic fa-fw'></i> <%= t("navigation.links.spells") %></a></li>
<li><a href="/rb/stock/items"><i class='fa icon-price-tag fa-fw'></i> <%= t("navigation.links.items") %></a></li>
<li><a href="/gallery/stock/images"><i class='fa icon-images fa-fw'></i> <%= t("navigation.links.images") %></a></li>
<li><a href="/gallery/map/images"><i class='fa icon-compass fa-fw'></i> <%= t("navigation.links.maps") %></a></li>
