<li><label class="text-right"><%= t("navigation.sections.group") %></label></li>
<li><a href="/residents/<%= current_user.resident.slug %>/campaigns"><i class='fa fa-sitemap fa-fw'></i> <%= t("navigation.links.campaigns") %></a></li>
<li class="divider show-for-medium-up"></li>
<li><label class="text-right"><%= t("navigation.sections.player") %></label></li>
<li><a href="/eb/resident/characters"><i class='fa fa-shield fa-fw'></i> <%= t("navigation.links.characters") %></a></li>
<li class="divider show-for-medium-up"></li>
<li><label class="text-right"><%= t("navigation.sections.game_master") %></label></li>
<li><a href="/sb/resident/adventures"><i class='fa icon-book fa-fw'></i> <%= t("navigation.links.adventure_builder") %></a></li>
<li><a href="/residents/<%= current_user.resident.slug %>/districts"><i class='fa icon-globe fa-fw'></i> <%= t("navigation.links.world_builder") %></a></li>
<li><a href="/eb/resident/creatures"><i class='fa fa-paw fa-fw'></i> <%= t("navigation.links.creatures") %></a></li>
<% unless current_user.is_free? %><li><a href="/eb/resident/npcs"><i class='fa fa-male fa-fw'></i> <%= t("navigation.links.npcs") %></a></li><% end %>
<li><a href="/imports"><i class='fa fa-upload fa-fw'></i> <%= t("navigation.links.import") %></a></li>
<li class="divider show-for-medium-up"></li>
<li><label class="text-right"><%= t("navigation.sections.rule_builder") %></label></li>
<li><a href="/rb/resident/rules"><i class='fa fa-book fa-fw'></i> <%= t("navigation.links.rules") %></a></li>
<li><a href="/rb/resident/spells"><i class='fa fa-magic fa-fw'></i> <%= t("navigation.links.spells") %></a></li>
<li><a href="/rb/resident/items"><i class='fa icon-price-tag fa-fw'></i> <%= t("navigation.links.items") %></a></li>
<li><a href="/gallery/resident/images"><i class='fa icon-images fa-fw'></i> <%= t("navigation.links.images") %></a></li>
